/* p.error {
  color: red;
}
p.success {
  color: #00c43b;
}
p.success.feedback{
  border: 1px dashed #00c43b;
}
div#content {
  background-color: #ebebeb;
  padding: 20px;
} */
/* div .error {
  color: pink
} */
/* a[href*="thenetninja"] {
  background-color: #3dd13d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
a[href$=".com"] {
  color: white;
  background: red;
  border: 2px solid blue;
} */
div {
  color: lightcoral;
  border: 1px solid gray;
  margin: 40px;
  font-weight: bold;
}
div p {
  border: inherit;
  margin: inherit;
  color: crimson;
}
p {
  color: orange;
}