body, ul, li, h1, h2, a {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  background: gray;
}
header {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  padding: 25px 10px;
  box-sizing: border-box;
  text-align: center;
  color: wheat;
  background: darkcyan;
  border: 10px solid wheat;
  border-radius: 80px;
}
header h1 {
  text-shadow: 3px 3px palevioletred;
}
main {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  box-sizing: border-box;
  background: darkcyan;
  border: 10px solid wheat;
  border-radius: 80px;
}
main article {
  width: 80%;
  margin: 50px auto
}
main h1 {
  color: wheat;
  text-shadow: 5px 5px 1px palevioletred;
  text-align: center;
  margin: 30px auto;
  font-size: 60px;
}
.course {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background: palevioletred;
  border: 5px solid wheat;
  border-radius: 30px;
  color: whitesmoke;
  font-size: 20px;
}
.course h2 {
  color: wheat;
  text-shadow: 4px 4px 1px darkslategray;
  text-align: center;
  margin: 15px auto;
  font-size: 35px;
}
.course p {
  width: 90%;
  margin: 20px auto;
}
.course ul {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.course ul li {
  list-style-type: none;
  margin: 10px auto;
  padding: 10px;
  background: darkslateblue;
  border: 5px solid wheat;
  border-radius: 30px;
}
.course ul li:hover {
  background: slateblue;
}
.course a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
