body, ul, li, h1, h2, a {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  background: gray;
}
header {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  padding: 25px 10px;
  box-sizing: border-box;
  text-align: center;
  color: wheat;
  background: darkcyan;
  border: 10px solid wheat;
  border-radius: 80px;
}
header h1 {
  text-shadow: 3px 3px palevioletred;
}
main {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  box-sizing: border-box;
  background: darkcyan;
  border: 10px solid wheat;
  border-radius: 80px;
}
main h1 {
  color: wheat;
  text-shadow: 5px 5px 1px palevioletred;
  text-align: center;
  margin: 30px auto;
  font-size: 60px;
}
main article {
  width: 80%;
  margin: 50px auto
}
main li {
  width: 80%;
  margin: 25px auto;
  padding: 15px;
  background: palevioletred;
  border: 5px solid wheat;
  border-radius: 30px;
  list-style-type: none;
  color: whitesmoke;
  font-size: 20px;
}
main li:hover {
  border: 5px solid yellowgreen;
  background: darkgreen;
}
main li a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
